extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var site = htmlWebpackPlugin.options
    - var canonical = url + site.filename
    - var title = 'Политика конфиденциальности'


block content
    .page__box
        p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, размещенной на сайте в сети Интернет – <a href=#{url}>#{domain}</a>, которую Ресурс (сайт) – <a href=#{url}>#{domain}</a>, расположенный на доменном имени – <a href=#{url}>#{domain}</a> (а также его субдоменах), может получить о Пользователе во время использования сайта – <a href=#{url}>#{domain}</a> (а также его субдоменов), программ и продуктов.
        p Использование сервисов Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от использования сервисов.
        p 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
        p В настоящей Политике конфиденциальности используются следующие термины:
        p 1.1. «Администрация Ресурса – <a href=#{url}>#{domain}</a> (далее – Администрация, Оператор) – уполномоченные сотрудники на управления Ресурсом, действующие от имени ИП Пашковой Марты Александровны, которая организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
        p 1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных), в том числе:
        p 1.2.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи) или в процессе использования Сервисов, включая персональные данные Пользователя. Обязательная для предоставления Сервисов информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
        p 1.2.2. Данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.
        p 1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
        p 1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
        p 1.5. «Ресурс – <a href=#{url}>#{domain}</a> - это совокупность связанных между собой веб-страниц, размещенных в сети Интернет по уникальному адресу (URL): – <a href=#{url}>#{domain}</a>
        p  1.6. «Субдомены сайта – <strong>если есть????</strong>
        p 1.7. «Пользователь Ресурса – <a href=#{url}>#{domain}</a> (далее Пользователь) – лицо, имеющее доступ к Ресурсу, посредством сети Интернет и использующее информацию и материалы Ресурса – <a href=#{url}>#{domain}</a>
        p 1.8. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
        p 1.9. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
        p 1.10. Актуальные угрозы безопасности персональных данных» - совокупность условий и факторов, создающих актуальную опасность несанкционированного, в том числе случайного, доступа к персональным данным при их обработке в информационной системе, результатом которого могут стать уничтожение, изменение, блокирование, копирование, предоставление, распространение персональных данных, а также иные неправомерные действия.
        p 2. ОБЩИЕ ПОЛОЖЕНИЯ
        p 2.1. Использование Пользователем Ресурса – <a href=#{url}>#{domain}</a> означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
        p 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование Ресурса – <a href=#{url}>#{domain}</a>.
        p 2.3. Настоящая Политика конфиденциальности применяется к Ресурсу – <a href=#{url}>#{domain}</a>
        p 2.4. Ресурс – <a href=#{url}>#{domain}</a> не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Ресурсе – <a href=#{url}>#{domain}</a>
        p 2.5. Администрация не проверяет достоверность персональных данных, предоставляемых Пользователем Ресурса – <a href=#{url}>#{domain}</a>
        p 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
        p 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации Ресурса – <a href=#{url}>#{domain}</a> по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации при регистрации на Ресурсе – <a href=#{url}>#{domain}</a>, или ином использовании Ресурса, а также при оформлении заказа для приобретения товара, услуги.
        p 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы либо формы обратной связи на Ресурсе – <a href=#{url}>#{domain}</a> и включают в себя следующую информацию:
        p <strong>3.2.1. фамилию, имя, отчество Пользователя;</strong>
        p
        p <strong>3.2.2. контактный телефон Пользователя;</strong>
        p
        p <strong>3.2.3. адрес электронной почты (e-mail);</strong>
        p
        p <strong>3.2.4. адрес доставки Товара (при необходимости);</strong>
        p
        p <strong>3.2.5. место жительство Пользователя (по требованию Администрации). указать то, что нужно???</strong>
        p 3.3. Ресурс – <a href=#{url}>#{domain}</a> защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
        p 3.3.1. IP адрес;
        p 3.3.2. информация из cookies;
        p 3.3.3. информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
        p 3.3.4. время доступа;
        p 3.3.5. адрес страницы, на которой расположен рекламный блок;
        p 3.3.6. реферер (адрес предыдущей страницы).
        p 3.4. Отключение cookies может повлечь невозможность доступа к частям Ресурса – <a href=#{url}>#{domain}</a>, требующим авторизации.
        p 3.5. Ресурс – <a href=#{url}>#{domain}</a> осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
        p 3.6. Любая иная персональная информация, не оговоренная выше (история покупок, операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
        p 4. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
        p 4.1. Ресурс – <a href=#{url}>#{domain}</a> (Сайт) собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
        p 4.2. Персональные данные Пользователя Администрация Ресурса – <a href=#{url}>#{domain}</a> может использовать в целях:
        p 4.2.1. Идентификации Пользователя, зарегистрированного на Ресурсе – <a href=#{url}>#{domain}</a>, для оформления заказа и (или) заключения Договора-оферты на оказание информационно-консультационных услуг дистанционным способом.
        p 4.2.2. Предоставления Пользователю доступа к персонализированным данным Ресурса – <a href=#{url}>#{domain}</a>.
        p 4.2.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Ресурса – <a href=#{url}>#{domain}</a>, оказания услуг, обработка запросов и заявок от Пользователя.
        p 4.2.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
        p 4.2.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
        p 4.2.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
        p 4.2.7. Уведомления Пользователя Ресурса – <a href=#{url}>#{domain}</a> о состоянии Заказа (при необходимости).
        p 4.2.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.
        p 4.2.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Ресурса – <a href=#{url}>#{domain}</a>.
        p 4.2.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Ресурса – <a href=#{url}>#{domain}</a> или от имени партнеров Ресурса – <a href=#{url}>#{domain}</a>.
        p 4.2.11. Осуществления рекламной деятельности с согласия Пользователя.
        p 4.2.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Ресурса – <a href=#{url}>#{domain}</a> с целью получения продуктов, обновлений и услуг.
        p 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
        p 5.1. Обработка персональных данных Пользователя осуществляется не дольше срока, отвечающего целям обработки персональных данных, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
        p 5.2. Пользователь соглашается с тем, что Администрация вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Ресурсе – <a href=#{url}>#{domain}</a>, включая доставку Товара или документации.
        p 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
        p 5.4. При утрате или разглашении персональных данных Администрация информирует Пользователя об утрате или разглашении персональных данных.
        p 5.5. Администрация принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
        p Для выполнения работ по обеспечению безопасности персональных данных при их обработке в информационной системе в соответствии с законодательством Российской Федерации, администрация Ресурса – <a href=#{url}>#{domain}</a> может привлекать на договорной основе юридическое лицо или индивидуальный предприниматель, имеющие лицензию на деятельность по технической защите конфиденциальной информации.
        p В состав мер по обеспечению безопасности персональных данных, реализуемых в рамках системы защиты персональных данных с учетом актуальных угроз безопасности персональных данных и применяемых информационных технологий, входят следующие меры, в том числе, но не ограничиваясь:
        <ul><li>идентификация и аутентификация субъектов доступа и объектов доступа;</li><li>управление доступом субъектов доступа к объектам доступа;</li><li>ограничение программной среды;</li><li>защита машинных носителей информации, на которых хранятся и (или) обрабатываются персональные данные (далее - машинные носители персональных данных);</li><li>регистрация событий безопасности;</li><li>антивирусная защита;</li><li>обнаружение (предотвращение) вторжений;</li><li>контроль (анализ) защищенности персональных данных;</li><li>обеспечение целостности информационной системы и персональных данных;</li><li>обеспечение доступности персональных данных;</li><li>защита среды виртуализации;</li><li>защита технических средств;</li><li>защита информационной системы, ее средств, систем связи и передачи данных;</li><li>выявление инцидентов (одного события или группы событий), которые могут привести к сбоям или нарушению функционирования информационной системы и (или) к возникновению угроз безопасности персональных данных (далее - инциденты), и реагирование на них;</li><li>управление конфигурацией информационной системы и системы защиты персональных данных.</li><li>проверка системного и (или) прикладного программного обеспечения, включая программный код, на отсутствие недекларированных возможностей с использованием автоматизированных средств и (или) без использования таковых;</li><li>тестирование информационной системы на проникновения;</li><li>использование в информационной системе системного и (или) прикладного программного обеспечения, разработанного с использованием методов защищенного программирования.</li></ul>p 5.6. Администрация совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
        p 6. ПРАВА И ОБЯЗАТЕЛЬСТВА СТОРОН
        p 6.1. Пользователь вправе требовать от администрация Ресурса – <a href=#{url}>#{domain}</a> уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
        p 6.2. Если Пользователь считает, что администрация Ресурса – <a href=#{url}>#{domain}</a> осуществляет обработку его персональных данных с нарушением требований федерального законодательства о персональных данных или иным образом нарушает его права и свободы, Пользователь вправе обжаловать действия или бездействие оператора в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.
        p 6.3. Пользователь имеет право отозвать согласие на обработку персональных данных, путем направления уведомления администрации Ресурса – <a href=#{url}>#{domain}</a> по адресу электронной почты: ________________________________. Администрация Ресурса – <a href=#{url}>#{domain}</a> прекращает обработку персональных данных в сроки установленные действующим законодательством РФ.
        p 6.4. Пользователь обязан:
        p 6.4.1. Предоставить информацию о персональных данных, необходимую для пользования Ресурса – <a href=#{url}>#{domain}</a>.
        p 6.4.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
        p 6.5. Администрация Ресурса – <a href=#{url}>#{domain}</a> обязана:
        p 6.5.1. Использовать полученную информацию исключительно для целей, указанных в разделе 4 настоящей Политики конфиденциальности.
        p 6.5.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
        p 6.5.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемому для защиты такого рода информации, предусмотренному Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных", Постановлением Правительства РФ от 01.11.2012 N 1119 "Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных", Приказом ФСТЭК России от 18.02.2013 N 21 "Об утверждении Состава и содержания организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных".
        p 6.5.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
        p 7. ОТВЕТСТВЕННОСТЬ СТОРОН
        p 7.1. Администрация Ресурса – <a href=#{url}>#{domain}</a>, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
        p 7. 2. В случае утраты или разглашения Конфиденциальной информации Администрация не несёт ответственность, если данная конфиденциальная информация:
        p 7.2.1. Стала публичным достоянием до её утраты или разглашения.
        p 7.2.2. Была получена от третьей стороны до момента её получения Администрацией Ресурса – <a href=#{url}>#{domain}</a>.
        p 7.2.3. Была разглашена с согласия Пользователя.
        p 7.3. Пользователь несет полную ответственность за соблюдение требований законодательства РФ, в том числе законов о рекламе, о защите авторских и смежных прав, об охране товарных знаков и знаков обслуживания, но не ограничиваясь перечисленным, включая полную ответственность за содержание и форму материалов.
        p 7.4. Пользователь признает, что ответственность за любую информацию (в том числе, но не ограничиваясь: файлы с данными, тексты и т. д.), к которой он может иметь доступ как к части Ресурса – <a href=#{url}>#{domain}</a>, несет лицо, предоставившее такую информацию.
        p 7.5. Пользователь соглашается, что информация, предоставленная ему как часть Ресурса – <a href=#{url}>#{domain}</a>, может являться объектом интеллектуальной собственности, права на который защищены и принадлежат другим Пользователям, партнерам или рекламодателям, которые размещают такую информацию на Ресурсе – <a href=#{url}>#{domain}</a>. Пользователь не вправе вносить изменения, передавать в аренду, передавать на условиях займа, продавать, распространять или создавать производные работы на основе такого Содержания (полностью или в части), за исключением случаев, когда такие действия были письменно прямо разрешены собственниками такого Содержания в соответствии с условиями отдельного соглашения.
        p 7.6. В отношение текстовых материалов (статей, публикаций, находящихся в свободном публичном доступе на Ресурсе – <a href=#{url}>#{domain}</a>) допускается их распространение при условии, что будет дана ссылка на сайт (любой другой ресурс) и ФИО (Псевдоним) автора, написавшего данный текстовый материал.
        p 7.7. Администрация не несет ответственности перед Пользователем за любой убыток или ущерб, понесенный Пользователем в результате удаления, сбоя или невозможности сохранения какого-либо Содержания и иных коммуникационных данных, содержащихся на Ресурсе – <a href=#{url}>#{domain}</a> или передаваемых через такой Ресурс.
        p 7.8. Администрация не несет ответственности за любые прямые или косвенные убытки, произошедшие из-за: использования либо невозможности использования сайта либо отдельных сервисов; несанкционированного доступа к коммуникациям Пользователя; заявления или поведение любого третьего лица на сайте.
        p 7.9. Администрация не несет ответственность за какую-либо информацию, размещенную пользователем на Ресурсе – <a href=#{url}>#{domain}</a>, включая, но не ограничиваясь, информацию, защищенную авторским правом, без прямого согласия владельца авторского права.
        p 8. РАЗРЕШЕНИЕ СПОРОВ
        p 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Ресурса – <a href=#{url}>#{domain}</a> и Администрацией, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
        p 8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
        p 8.3. При недостижении соглашения спор будет передан на рассмотрение суда по месту нахождения Администрации.
        p 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией Ресурса – <a href=#{url}>#{domain}</a> применяется действующее законодательство Российской Федерации.
        p 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
        p 9.1. Администрация Ресурса – <a href=#{url}>#{domain}</a> вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
        p 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Ресурса – <a href=#{url}>#{domain}</a>, если иное не предусмотрено новой редакцией Политики конфиденциальности.
        p 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по адресу: _____________________________
        p 9.4. Действующая Политика конфиденциальности размещена на странице по адресу <a href=#{canonical}>#{canonical}</a>
